/* Sets the CSS for the entire header section
    rem is used for padding and margins 
    vh is relative to viewport height 
    hidden means overflow of content is hidden. Other options like visible (content renders OUTSIDE the box) and scrollbar (adds a scrollbar to see the rest of the content)
*/
header {
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 50vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* dot signifies className */
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* =================== CTA =======================*/

.header__cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============= MEDIA QUERIES (MEDIUM) ===================*/
@media screen and (max-width:1024px) {  
    header {
        height: auto;
    }
}

/* ============= MEDIA QUERIES (SMALL) ===================*/
@media screen and (max-width:600px) {
    header {
        height: auto;
    }
}
